@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
    scroll-behavior: smooth;
}

.particle, .particle > canvas { z-index: 1 !important; }
section{
    min-height: 100vh;

}

body{
    background: #fff;
    font-family: "Poppins";
  }

a{
    text-decoration: none;
  }

/* ---------------------------------------- Background ----------------------------------------------- */

#particles-js{
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  overflow: hidden;
  background:#19B5FE ;
  background-size: cover;
  position: fixed;
}

/* ----------------------------------------- Header --------------------------------------------------- */

header{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0px 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    z-index: 999;
  }
  
  #title{
    color:#fff;
    margin-right: auto;
    font-size: 30px;
    font-weight: 600;
    /* font-family: "Roboto"; */
  }
  
  header ul{
    position: relative;
    display: flex;
  }
  
  header ul li{
    position: relative;
    list-style: none;
    padding: 0px 0px 0px 1.5rem;
    display: inline-block;
  }
  
  header ul li a{
    position: relative;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    margin-left: 0.2rem;
  }
  
  header ul li a:hover{
    border-bottom: 3px solid red;
    color: red;
  }

  @media screen and (max-width: 767px){
    #title{
        font-size:28px;
    }

  header ul{
    position: absolute;
    width: 100%;
    top: -100%;
    left: 0;
    height: calc(100vh - 75px);
    background:#19B5FE;
    opacity: 0.4;             
    transition: 0.5s;
    padding: 50px 100px;
    text-align: center;
    overflow: auto;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
  }

  header ul li a{
    margin: 5px 0;
    font-size: 24px;
  }
  
  header.active ul{
    opacity: 1;
    top: 75px;
    transform: translateY(0);
  }

  .toggle{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle::before{
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }

  .toggle::after{
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
  }

  header.active .toggle::before{
    top:14px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }

  header.active .toggle::after{
    bottom: 14px;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 480px){
    #title{
        font-size:24px;
    }
}

/* ---------------------------------------- Structure -------------------------------------------------- */

.first {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
    }
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}

/* ------------------------------------ 3d-Slider ----------------------------------------------------- */

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: linear-gradient(0deg,rgba(38, 163, 212, 0.9) ,rgba(163, 230, 233, 0.9));
  margin-top: 20%;
  color: black;
  border-radius: 10px;
}

.swiper-button-next,.swiper-button-prev{
color:white;
}

#heading{
margin-top: 10px;
text-align: center;
}

.list{
list-style: none;
text-align: justify;
padding: 20px;
font-size: 15px;
margin-top: 5px;
}

/*-------------------------------------------- Search & Buttons ----------------------------------------------------*/

.search{
  height: 49px;
  border-radius: 49px;
  padding: 10px;
  margin-left: 30%;
  margin-right: -15%;
  border:none;
  width:220px;
}

.buttons{
  border-radius: 40px;
  height: 49px;
  cursor: pointer;
  border: none;
  background: #ffffff;
  color: #000;
  font-weight: 800;
  width: 49px;
  margin-top: 35%;
  margin-left: 15%;
  font-size: 20px;
  margin-bottom: 4%;
}

.buttons:hover{
background: #fa0707;
color: white;
}

.button {
background: #88d0f1;  
border: 1px solid #63c5f3 ;
box-shadow: 0px 2px 0 #63c5f3, 2px 4px 6px #63c5f3;
font-weight: 700;
letter-spacing: 1px;
transition: all 150ms linear;
border-radius: 49px;
width: 200px;
font-size: 16px;
margin-left: 32%;
padding: 8px 16px;
margin-top: 5%;
width: 150px;
color: #fff;
cursor: pointer;
text-decoration: none;
text-transform: uppercase;
}

.button:hover {
background: #63c5f3;
border: 1px solid rgba(#000, .05);
box-shadow: 1px 1px 2px rgba(#fff, .2);
color: #1462ff; 
text-decoration: none;
text-shadow: -1px -1px 0 #63c5f3;
transition: all 250ms linear;
}

@media screen and (max-width: 600px){
    .button{
  margin-left: 24%;
  font-size: 14px;
    }
    .search{
  margin-left: 20%;
     }
}
@media screen and (max-width: 400px){
  .search{
    width: 180px;
  }
}

/* ------------------------------------------ Prediction ------------------------------------------------ */

.content{
  text-align: center;
  margin-top: 6%;
}

.result{
  background: #1462ff;
  width: 250px;
  padding: 8px 16px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.2s ease-in 0.2s; 
  color: #fff;
  border-radius: 10px;
}

.hidden{
  display: none;
}

/*------------------------------------------- CONTACT FORM ----------------------------------------------*/

.grid-2 {
  display: grid;
  grid-template-columns: 6fr 6fr;
  justify-content: space-between;
  align-items: center;
}

#contact .contact {
  position: relative;
  padding: 4rem 0;
}

#contact .contact h1 {
  text-align: center;
}

#contact .contact span {
  display: inline-block;
  background-color: #900d0d;
  height: 4px;
  width: 10%;
  margin-left: 25%;
  border-radius: 5px;
  margin-bottom: 2rem;
  transform: translate(200%, -200%);
          transform: translate(200%, -200%);
}

#contact .contact .contact-image {
  position: relative;
  width: 100%;
}

#contact .contact .contact-image img {
  width: 100%;
}

#contact .contact .contact-image #img1 {
  position: absolute;
  display: block;
  margin: 0% 0% 20%;
}

#contact .contact .contact-form form {
  color: #900d0d;
  font-size: 1.2rem;
  width: 70%;
  margin: 2rem auto;
}


#contact .contact .contact-form form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-family: 'Poppins';
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
  box-shadow: 0 0 15px rgba(215, 62, 51, 0.2);
          box-shadow: 0 0 15px rgba(215, 62, 51, 0.2);
  outline: none;
  max-width: 100%;
  min-width: 100%;
  height: 150px;
} 

#contact .contact .contact-form form button {
  border: none;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  margin: 1rem auto;
  background: #900d0d;
  padding: 10px;
  color: white;
}

#contact .contact .contact-form form textarea:focus {
  box-shadow: 0 0 15px rgba(215, 62, 51, 0.5);
          box-shadow: 0 0 15px rgba(215, 62, 51, 0.5);
}

#contact .after:after {
  top: -1% !important;
  text-align: center;
  font-size: 12rem;
}


.input-field {
  max-width: 520px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  overflow: hidden;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

@media screen and (max-width: 1023px) {
  #contact .contact h1 {
      font-size: 2.8rem;
    }
    #contact .contact .contact-form-area {
      display: block;
    }
    #contact .after:after {
      font-size: 6rem;
      top: 2% !important;
    }
}
@media screen and (max-width: 600px) {
  .contact-form form {
      width: 85% !important;
    }
}

/* ----------------------------------------- Back to Top Button ---------------------------------------- */

#topbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1462ff ;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 1.875rem;
  height: 2.625rem;
  width: 2.625rem;
}

#topbtn:hover {
  background-color: transparent;
}

@media screen and (max-width: 600px){
  #topbtn:hover{
    background: #1462ff;
  }
}

/*------------------------------------------- LOADER SECTION ----------------------------------------------*/

.loader {
  height: 60%;
  margin-top: 30%;
  margin-left: 45%;
  display: none;
}

.loading {
  display:  block;
}

/*------------------------------------------- FOOTER SECTION ----------------------------------------------*/

.site-footer
{
  background-color:#3c3d3d;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
}
.site-footer hr
{
  border-top-color:#bbb;
  width: 100%;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-right: 100px;
  border-radius:100%;
  background-color:#1462ff;
}
.copyright-text
{
  margin:10px;
  color: white;
}

@media (max-width:769px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#eceeef;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:rgb(0, 0, 0)
}
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }

  @media screen and (max-width: 480px){
    .site-footer .social-icons a{
      margin-right: 0px;
    }
  }