<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Fake Trial</title>
</head>

<body>
    <header id="header">
        <h1 id="title">FAKE NEWS TRACKER</h1>
        <ul>
            <li><a href="#home" class="active" onclick="toggle()">Home</a></li>
            <li><a href="#about" onclick="toggle()">About</a></li>
            <li><a href="#covid-19" onclick="toggle()">COVID-19</a></li>
            <li><a href="#team" onclick="toggle()">Team</a></li>
            <li><a href="#contact" onclick="toggle()">Contact</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>
    <div id="particles-js"></div>
    <section id="home">
        <div class="first group">
            <div class="col span_1_of_2">
                <form action="{{ url_for('predict') }}" method="POST">
                    <input type="text" placeholder="Search News" class="search" id="searchtxt" name="searchtxt">
                    <button class="buttons" id="btn1" ><i class="fa fa-search"></i></button>

                    <button class="buttons" id="btn2">PUBLIC</button>
                    <p id="state"></p>
                </form>
                
                {{ prediction_text }}

                <!-- <input type="checkbox" id="check">
                <div class="box">
                    <input class="searchbar" type="text" placeholder="Search or Copy URL">
                    <label for="check"><i class="fa fa-search"></i></label>
                </div> -->

            </div>
            <div class="col span_1_of_2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function toggle() {
            var header = document.getElementById("header");
            header.classList.toggle('active');
        }
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/scripts/slider.js"></script>
    <script src="../static/scripts/particles.js"></script>
    <script src="../static/scripts/app.js"></script>
    <script src="../static/scripts/index.js"></script>
</body>

</html>