<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/assets/news.png">
    <link href="../static/css/magnific-popup.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>BUST NEWS</title>
</head>

<body id="body">
    <button onclick="topFunction()" id="topbtn" title="Go to top"><img src="../static/img/up-arrow.png"
            alt="top"></button>
    <header id="header">
        <h1 id="title">BUST NEWS</h1>
        <ul>
            <li><a href="#home" class="active" onclick="toggle()">Home</a></li>
            <li><a href="{{ url_for('covid_func') }}" onclick="toggle()">COVID-19</a></li>
            <li><a href="#contact" onclick="toggle()">Contact</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>
    <div id="particles-js"></div>
    <section id="home">
        <div class="first group">
            <div class="col span_1_of_2">
                <form>
                    <div class="loading" id="open">
                        <input type="text" placeholder="Verify NEWS here..." class="search" id="searchtxt"
                            name="searchtxt">
                        <button type="button" class="buttons" id="btn--search"><i class="fa fa-search"></i>
                        </button><br>
                        <a href="https://www.youtube.com/watch?v=nTIumXl3_Xo&t=8s" class="button popup-youtube"><i
                                class="fa fa-play-circle"></i> How it works</a>
                    </div>
                    <div>
                        <img class="loader" id="gifs" src="../static/img/loader.gif" />
                    </div>
                </form>
                <div class="content">
                    <button class="result">
                        Press Search
                    </button>
                </div>
            </div>
            <div class="col span_1_of_2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul class="list">
                                <li style="margin-top: 50px">​Wanna find the whole truth behind the NEWS and not get
                                    carried by any NEWS that you see..? You are at the right place <br> </li>
                                <li style="font-size: 20px;"><br> BUST NEWS -</li>
                                <li style=" float: right; font-size: 16px;"> Because u deserve nothing but the truth ​​​
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <h2 id="heading">FAKE NEWS...?</h2>
                            <ul class="list">
                                <li>Fake news is news designed to spread hoaxes, propaganda and misinformation
                                    deliberately.</li>
                                <li>This is often done to further or impose specific ideas and is usually achieved with
                                    political agendas.​​</li>
                                <li>Often, fake news will mimic real headlines and twist the story.</li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <h2 id="heading">IMPORTANT!</h2>
                            <ul class="list">
                                <li>​This is an evolution in human history but, at the same time, unfocused the line
                                    between real and maliciously forged media.</li>
                                <li>Today anyone can publish content, credible or not. Sadly,fake news accumulates a
                                    great deal of attention over the internet, especially on social media.​​​</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="contact container1">
            <div class="contact-text after">
                <h1 class="bg-text-animate">Want to BUST some NEWS?</h1><span class="underline"></span>
            </div>
            <div class="contact-form-area grid-2">
                <div class="contact-image">
                    <img id="img1" src="../static/img/msg.png" alt="">
                    <img src="../static/img/contact.png" alt="">
                </div>
                <div class="contact-form">
                    <form id="form">
                        <div class="input-field">
                            <i class="fa fa-user"></i>
                            <input type="text" id="name" name="name" placeholder="Name" required="">
                        </div><br>
                        <div class="input-field">
                            <i class="fa fa-envelope"></i>
                            <input type="email" id="email" name="email" placeholder="Email" required="">
                        </div><br>
                        <textarea name="message" id="message" cols="" rows="" placeholder="Enter your NEWS..."
                            required=""></textarea>
                        <button type="button" class="last-click" id="submit">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        function toggle() {
            var header = document.getElementById("header");
            header.classList.toggle('active');
        }
        $("#submit").click(function () {
            var name = $("#name").val();
            var email = $("#email").val();
            var message = $("#message").val();

            if (name == '' || email == '' || message == '') {

                swal({
                    title: "Missing!",
                    text: "Fields Empty",
                    icon: "error",
                    button: "Done",
                })
            }
            else {
                swal({
                    title: "Good job!",
                    text: "You BUSTED NEWS today",
                    icon: "success",
                    button: "Done",
                });
                document.getElementById("form").reset();
            }
        })
        function load() {
            var gif = document.getElementById("gifs");
            var dispy = document.getElementById("open");
            dispy.style.display = "none";
            gif.style.display = "block";
        }
        function unload() {
            var gif = document.getElementById("gifs");
            var dispy = document.getElementById("open");
            dispy.style.display = "block";
            gif.style.display = "none";
        }
        function request() {
            var formData = new FormData();
            var data = document.getElementById('searchtxt').value;
            var btnText = document.querySelector('.result');

            formData.append("searchtxt", data);
            console.log(formData)
            console.log('kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk')
            load();
            console.log('ddeddd')
            fetch('https://bustnews.herokuapp.com/predict', {
                method: 'post',
                body: formData
            })
                .then(res =>
                    res.json()
                ).then(data => {
                    btnText.innerHTML = data.btnMessage;
                    unload();
                })
        }

        document.getElementById("btn--search").addEventListener("click", function (event) {
            event.preventDefault();
            request()
        });

    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/scripts/slider.js"></script>
    <script src="../static/scripts/particles.js"></script>
    <script src="../static/scripts/app.js"></script>
    <script src="../static/scripts/jquery.magnific-popup.js"></script>
    <script src="../static/scripts/scripts.js"></script>
</body>

</html>
